.app {
    display: grid;
    height: 100%;
    grid-template-areas: 
        "header"
        "main"
        "footer";
    grid-template-rows: auto auto 30px;
}
.app__header {
    grid-area: header;
}
.app__main {
    grid-area: main;
    background-color: aquamarine;
}
.app__footer {
    grid-area: footer;
}

@media (max-width: 430px){
    .app {
        display: grid;
        height: 100%;
        grid-template-areas: 
            "header"
            "main"
            "footer";
        grid-template-rows: auto 146% 30px;
    }
}