.container__home {
    background-image: url('../../assets/img/home_background.png');
    height: 525px;
    background-repeat: round;
}
.logo-main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    padding-top: 80px;
}
.logo-main__img {
    width: 430px;
}
.logo-main__button {
    width: 150px;
    margin-top: 20px;
    box-shadow: 1px 1px 10px 1px black;
}

@media (max-width: 430px) {
    .logo-main {
        padding-top: 140px;
    }
}

@media (max-width: 420px) {
    .container__home  {
        background-image: none;
        height: 355px;
    }
}