.navbar__custom {
    background-color: #B92E2B;
    border-bottom: solid 5px #fff;
}
.logo {
    width: 120px
}
.navbar .container {
    justify-content: center;
}
.container__logo {
    text-align: center;
    width: 100%;
}