.navbar__footer {
    width: 100%;
    height: 100%;
    margin-top: 5px;
    background-color: #B92E2B;
}

.navbar__footer___text {
    color: #fff;
    display: flex;
    justify-content: flex-end;
}